<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<%= form_tag '/login' do %>

  <div class="email">Email: <%= text_field_tag :email %></div>
  <div class="pass">Password: <%= password_field_tag :password %></div>
  <%= submit_tag "Submit" %>
<%= link_to signup_path, class: "nav-link " do%>Sign Up!<% end%></li>
<% end %>